
.header{
    width: 100%;
    position: fixed;
    background-color: white;
}

.navbarWrapper{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.navLinks{
    display: none;
}

.headerRightSide{
    display: flex;
    align-items: center;
}

/* .getStartedButton{
    padding: 10px 20px;
    background-color: rgb(108, 43, 217);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
} */

.image{
    height: 34px;
}

.menuButtonImg{
    display: block;
    background: none;
    cursor: pointer;
    margin-left: 0.25rem;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(133, 133, 133);
    padding: 7px;
    border-radius: 5px;
}

.mobileMenu{
    position: absolute;
    top: 100%;
    
    background-color: white;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.mobileMenuItem{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.mobileMenuItem:hover{
    background-color: rgb(108, 43, 217);
    color: white;
}

 @media (min-width: 768px) {
    .navLinks{
        display: block;
        flex-direction: row;
    }

    .navLinks a{
        margin: 0 20px;
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    .menuButtonImg{
        display: none;
    }
 }