.wrapper{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.image{
    width: 50px;
    height: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    width: 100%;

    .nameandtimerow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        .arrivalTime{
            font-size: 12px;
            font-weight: 600;
            color: var(--primary-purple);
        }

        .name{
            font-size: 16px;
            font-weight: 600;
        }
    }


    .details{
        font-size: 12px;
        color: var(--black-80);
        display: flex;
        align-items: center;
        gap: 4px;

        .icon{
            width: 16px;
            height: 16px;
        }

        .dot{
            height: 5px;
            width: 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
        }
    }

}




