.wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.rightSide {
    /* position: relative;
    height: 100%;
    width: 400px;
    overflow: hidden; */
}

@media (max-width: 768px) {
    .rightSide {
        width: 0;
        overflow: visible;
    }
}