name: CI/CD Pipeline

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Checkout source
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'

    - name: Install dependencies
      run: dotnet restore ExercizeProject/ExercizeProject.slnx

    - name: Build
      run: dotnet build ExercizeProject/ExercizeProject.slnx --configuration Release --no-restore